body {
    background-color:darkslateblue;
}

h1 {
    background-image: url("../public/pexels-vincent-ma-janssen-1310777.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25vh;
    text-align: center;
    vertical-align: middle;
}